<div class="container col">
  <div class="container space-between wrap">
    <div class="left">
      <div>Playing time : {{timeOnPage}} secs </div>
      <div>Scores : {{count}}</div>

      <div>You screwed up : {{total}}</div>
      <div>Scores per seconds : {{countPerSec}}</div>
    </div>
    <div class="right">
      <div>
        <button (click)="saveToCookie()">Save scores</button>
      </div>
      <div>
        <button (click)="reset()">Restart</button>
      </div>
    </div>
  </div>
  <div class="separator"></div>
  <div class="container center wrap">
    <div class="image" *ngFor="let i of createRange(); let index = index" (click)="onClick(index)">
      <div class="clickable">
        <img [src]="fullImagePath" />
        <p>{{cost[index]}}</p>
      </div>
    </div>
  </div>
</div>
