.image {
  position: relative;
  display: inline-block;
  width: 20vw;
}
.image img {
  width: 100%;
}

p {
  font: Helvetica, Sans-Serif;
  position: absolute; 
  top: 50%;
  left: 50%;
  margin: 0; 
}

p:hover {
  background-color: yellow;
}

.clickable {
  cursor: pointer;
}

.separator {
  margin-top: 10px;
  margin-bottom: 10px;
}

button {
  width: 100px;
  height: 30px;
  outline: 5px;
  padding: 1px 2px 3px 2px;
  background: burlywood;
  border: 2px solid olive;
}

.item {
  margin-bottom: 3px;
}

.container {
  display: flex;
}

.col {
  flex-direction: column;
}

.center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.wrap {
  flex-wrap: wrap;
}
