#image {
  position: relative;
  display: inline-block;
}

p {
  font: Helvetica, Sans-Serif;
  position: absolute; 
  top: 110px; 
  left: 126px; 
}

p:hover {
  background-color: yellow;
}

.clickable {
  cursor: pointer;
}